@import "../styles.scss";

.dashboard_con {
    background: var(--bg-gradient);
  background: var(--bg);
  height: 100vh;
  @include flex("", "", "", 10, 0);

  .side_large{
    min-width: rem(260);
       max-width: rem(260);
  }

  .Dbody{
    max-height: 100vh;
    overflow-y: auto;
    nav{
      background-color: var(--header1);
      img{
        width: 60px;
        height: 60px;
        border-radius: 50%;
      }
    }

    .wizard{
      height: 70px;
      background-color: red;
      display: flex;
      justify-content: center;
      align-items: center;

      .wrapper_wizard{
        width: 100%;
        height:100%;
        padding: 0px 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background-color: pink;
        .text{
          width: 100%;
          display: flex;
          justify-content: space-between !important;
          align-items: center;
        }

        .circle{
          width: 100%;
          display: flex;
          position: relative;
          height: 10px;
          background-color: green;
          display: flex;
          justify-content: space-between;

          .t_circle{
            width: 30px;
            height: 30px;
            position: absolute;
            border-radius: 50%;
            background-color: yellow;
          }
        }


      }
    }

  }

  .offcanvas-start{
      min-width: rem(270) !important;
       max-width: rem(270) !important;
       padding: 0 !important;
       margin: 0 !important;
       background-color: transparent !important;
       border: none;

       .offcanvas-body{
        padding: 0 !important;
       margin: 0 !important;
       overflow: hidden !important;
       border: none !important;
       }
    }
}
