@import "../styles.scss";

.dashboard_con {
    background: var(--bg-gradient);
  background: var(--bg);
  height: 100vh;
  @include flex("", "", "", 10, 0);

  .Dbody{
    max-height: 100vh;
    overflow-y: auto;
    nav{
      background-color: var(--header1);
      img{
        width: 60px;
        height: 60px;
        border-radius: 50%;
      }
    }
  }
}
