@import '../Function';

.f12 {
    font-size: rem(12);
}

.f9 {
    font-size: rem(9);
}
.f14 {
    font-size: rem(14);
}

.f15 {
    font-size: rem(15);
}

.f16 {
    font-size: rem(16);
}
.f17 {
    font-size: rem(17);
}

.f18 {
    font-size: rem(18);
}
.f19 {
    font-size: rem(19);
}

.f20 {
    font-size: rem(20);
}

.f22 {
    font-size: rem(22);
}

.f24 {
    font-size: rem(24);
}

.f26 {
    font-size: rem(26);
}

.f28 {
    font-size: rem(28);
    cursor: pointer;
}

.f30 {
    font-size: rem(30);
}


// for the icons
.i24 {
    @include setDimension(rem(18), rem(18));
    @include flex(center, center, "", 0, 0);
}

.i20 {
    @include setDimension(rem(15), rem(15));
    @include flex(center, center, "", 0, 0);
}
