@import "../../styles.scss";

.main_section {
    @include setDimension(100vw, 99vh);
    overflow-y: auto;

    .wrapper {
        @include flex('', '', '', 0, 0);
        height: rem(610);
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0 rem(195);

        .left {
            width: rem(687);
            @include flex(center, start, column, 10, 0);
            color: var(--textColor);

            .slogn {
                color: var(--title-desc);
            }

            .title {
                line-height: rem(70)
            }

            .btn_grp {
                @include flex('', center, '', 20, 0);
            }
        }

        .right {
            width: rem(632);
            display: grid;
            grid-template-rows: repeat(2, 2fr);
            grid-template-columns: repeat(2, 2fr);
            gap: 10px;
            // @include flex(center,center,'',10,0);
            // flex-wrap: wrap;
            padding-top: rem(100);

            .items {
                min-height: rem(251);
            }
        }
    }

}

@include width-range($desktop, $mediaDesktop) {
    .wrapper {
        padding: 10px !important;
        width: 100vw !important;

    }

    .title {
        font-size: rem(40) !important;
        line-height: rem(35) !important;
    }
}

@include width-range(0, $desktop) {
    .wrapper {
        padding: 20px !important;
        width: 100vw !important;

    }

    .title {
        color: green;
        font-size: rem(30) !important;
        line-height: rem(40) !important;
    }
}

@include width-range(0px, $tablet) {

    .main_section{
        width: 100% !important;
        max-height: 100vh !important;
    }

    .left{
        width: 100% !important;
        order: 10;
    }

    .right{
        height: auto !important;
        order: 1;
        width: 100% !important;
        padding-top: 10px !important;
        padding-bottom: 40px;
    }

    .wrapper {
        flex-wrap: wrap;
        height: auto !important;
        width: 100% !important;
    }

}