.img_div{
   display: grid;
   height: auto;
//    width: 100%;
   background-color: red;
   grid-template-rows: repeat(1,2fr);
   grid-template-columns: repeat(2,2fr);
   gap: 20px;

   img{
    height: 300px;
    width: ;
    &:nth-child(3){
        width: 100%;
        border: 2px solid black;
    }
   }
}